@import"bootstrap.css";

body {
	background-color: white;
	font-family: sans-serif;
	color: #2b3539;
}

header {
	background-color: white;
	height: 200px;
	line-height: 200px;
}

header img {
	float: left;
	margin-top: 46px;
	margin-left: 30px;
	width: 180px;
}

#hamburger {
	display: none;
}



header ul {
	float: right;
	line-height: 200px;
	margin: 0px 30px 0px 0px;
	list-style: none;
	font-size: 16px;
}

header ul li {
	display: inline-block;	
	margin-left: 30px;
}

.nav_links{
	color: black;
	text-decoration: none;
}

.nav_links:hover{
	color: gray;
	text-decoration: none;
}

.nav_links:visited {
	color: black;
	text-decoration: none;
}

.nav_links:active {
	color: #2b3539;
	text-decoration: none;
}

.order_button {
	border: solid #70d6bd 1px;
	border-radius: 3px;
	line-height: 26px;
	margin-top: 78px;
	padding: 8px 10px 8px 10px;
	color: #2b3539;
}

.order_button:hover {
	background-color: #70d6bd;
	transition: .2s;
	border: solid #70d6bd 1px;
	color: white;
	text-decoration: none;
}

.order_button:visited {
	text-decoration: none;
}


#line {
	width: 40px;
	height: 4px;
	float: none;
	margin: 6px;
	background-color: #2b3539;
}


#divider{
	clear: both;
}

footer {
	background-color: gray;
	height: 300px;
	clear: both;

}


@media screen and (max-width: 768px) {
	
	#nav_ul {
		display: none;
		float: left;
		clear: both;
		line-height: 50px;
		margin-left: 0px;
		margin-top: 30px;
	}
	header ul li {
		display: block;
		clear: both;
		color: green;

	}

	#order_a:hover {
		text-decoration: none;
	}

	#order_a:visited {
		text-decoration: none;
	}

	.order_button {
		margin-top: 10px;
		margin-bottom: 40px;
		text-decoration: none;
	}
	.order_button:hover {
		text-decoration: none;
	}


	#hamburger {
		display: block;
		margin-top: 83px;
	}
}

