body {
	background-color: #FFFFFA;
	font-family: sans-serif;
	color: #1C1C1C;
	padding: 0px 30px;
}

.logo_container {
	float: left;
	width: 260px;
	margin: 50px 0px 50px 50px; 
}
.logo_container img {
	width: 100%;
	height: auto;
}

.order_button {
	float: right;
	width: 260px;
	height: auto;
	border-radius: 4px;
	border: solid #1C1C1C 2px;
	margin: 76px 50px 50px 0px; 
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
}

.order_button:hover {
	background-color: #1C1C1C;
	-webkit-transition: .7s;
	color: white;
}

img {
	width: 100%;
	height: auto;
	margin-top: 20px;
}

@media only screen and (max-width: 768px) {
	.logo_container {
		width: 100%;
		margin: 50px auto;
	}
	.order_button {
		width: 100%;
		margin: 60px auto;
	}
}