@import "../css/config.css";

body {
	background-color: #FFFFFA;
	font-family: Consolas;
	color: #1C1C1C;

}

.logo_container {
	float: left;
	width: 260px;
	margin: 50px 0px 50px 50px; 
}
.logo_container img {
	width: 100%;
	height: auto;
}



.order_button {
	float: right;
	width: 200px;
	height: auto;
	border-radius: 4px;
	border: solid #1C1C1C 2px;
	margin: 74px 50px 50px 0px; 
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 24px;
	font-weight: bold;
}

.order_button:hover {
	background-color: #1C1C1C;
	-webkit-transition: .7s;
	color: white;
}

#menu {
	float: right;
	margin: 96px 50px;
	font-size: 18px;
}

img {
	width: 100%;
	height: auto;
	margin-top: 20px;
}

@media only screen and (max-width: 768px) {

	#header {
			padding: 0px 30px;
	}
	#menu {
		display: none;
	}
	.logo_container {
		width: 100%;
		margin: 50px auto 20px;
	}
	.order_button {
		width: 100%;
		margin: 30px auto;
	}
}